<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PETONOID</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			
			<div>
				
				<ul id="navigation">
					<li class="menu">
						<a href="/">Home</a>
					</li>
					<li class="menu">
						<a href="/doctor">DOCTOR</a>
					</li>
					<li class="menu">
						<a href="/store">STORE</a>
					</li>
					<li class="menu">
						<a href="/blog">Blog</a>

					</li>
					<li class="selected">
						<a href="/appointment">APPOINTMENT</a>
					</li>
					<li class="menu">
						<a href="/pastorders">PAST ORDERS</a>
					</li>
					<li class="menu">
						<a href="/logout">Log out</a>
					</li>
				</ul>
				
		</div>
		<div id="body" style="background-color:white;">
			<h2 style="margin-left:625px;">Appointments List</h2>
					{% if l == 0 %}
					<p> Your Appointment Status  Will Appear Here. No appointments yet to show</p>
					{% endif %}
					<table style="margin-left:auto; margin-right:auto;">
					<tr>
						<th>Name</th>
						<th>Patient Type</th>
						<th>Hospital</th>
						<th>Branch</th>
						<th>Appointment Status</th>
					</tr>
					{% for appointment in appointments%}
					<tr>
						<td>{{appointment[0]}}</td>
						<td>{{appointment[1]}}</td>
						<td>{{appointment[2]}}</td>
						<td>{{appointment[3]}}</td>
						<td><form onsubmit="return false;">
							<input class="btn badge-dark" type="submit" value="{{appointment[4]}}" id="submit">
						  </form></td>
					</tr>
					{% endfor %}
					</table>
		</div>
			<div style="height:300px;"></div>
		<div id="footer" >
			<div class="connect">
				<div>
					<h1>FOLLOW US ON</h1>
					<div>
						<a href="" class="facebook">facebook</a>
						<a href="" class="twitter">twitter</a>
						<a href="" class="googleplus">googleplus</a>
						<a href="" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; PETONOID</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>