<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PETONOID</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				
				<ul id="navigation">
					<li class="menu">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/doctor">DOCTOR</a>
					</li>
					<li class="menu">
						<a href="/store">STORE</a>
					</li>
					<li class="selected">
						<a href="/blog">Blog</a>

					</li>
					<li class="menu">
						<a href="/appointment">APPOINTMENT</a>
					</li>
					<li class="menu">
						<a href="/pastorders">PAST ORDERS</a>
					</li>
					<li class="menu">
						<a href="/logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="body">
			<div class="header">
				<div>
					<h1>Blog</h1>
					<div class="article">
						<ul>
							<li>
								<h3 style="color: white">CATS</h3>
								<p>fgughfu</p>
							</li>
							<li>
								<h3 style="color: white">DOGS</h3>
								<p>fgughfu</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW US ON</h1>
					<div>
						<a href="" class="facebook">facebook</a>
						<a href="" class="twitter">twitter</a>
						<a href="" class="googleplus">googleplus</a>
						<a href="" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; PETONOID</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>