<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PETONOID</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			
			<div>
				
				<ul id="navigation">
					<li class="selected">
						<a href="/dindex">Appointment List</a>
					</li>
					<li>
						<a href="/logout">Log out</a>
					</li>
					<li>
						<a href="" >{{user}}</a>
					</li>
				</ul>
			</div>
				
		</div>
		<div id="body" style="background-color:white;">
			<h2 style="margin-left:625px;">Appointments List</h2>

					<table style="margin-left:auto; margin-right:auto;">
					<tr>
						<th>Pet owner</th>
						<th>Appointment Status</th>
					</tr>
					{% for owner in owners %}
					<tr>
						<td>{{owner[0]}}</td>
						<td>{{owner[1]}}</td>
						{% if owner[1] == "Requested"%}

						<td><form action="/dresponse", method="post">
							<input class="btn badge-dark" type="hidden" name="owner" value="{{owner[0]}}" id="answer">
                            <input class="btn badge-dark" type="hidden" name="answer" value="Accepted" id="answer">
							<input class="btn badge-dark" type="submit" value="Accept" id="submit">
						  </form></td>
                          <td><form action="/dresponse", method="post">
							  <input class="btn badge-dark" type="hidden" name="owner" value="{{owner[0]}}" id="answer">
                            <input class="btn badge-dark" type="hidden" name="answer" value="Rejected" id="answer">
							<input class="btn badge-dark" type="submit" value="Reject" id="submit">
						  </form></td>
						{% endif %}
					</tr>
					{% endfor %}
					</table>
				  
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW US ON</h1>
					<div>
						<a href="" class="facebook">facebook</a>
						<a href="" class="twitter">twitter</a>
						<a href="" class="googleplus">googleplus</a>
						<a href="" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; PETONOID</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>