<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PETONOID</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				
				<ul id="navigation">
					<li class="selected">
						<a href="/index">Home</a>
					</li>
					<li>
						<a href="/doctor">DOCTOR</a>
					</li>
					<li class="menu">
						<a href="/store">STORE</a>
					</li>
					<li class="menu">
						<a href="/blog">Blog</a>
						
					</li>
					<li>
						<a href="/appointment">APPOINTMENT</a>
					</li>
					<li>
						<a href="/pastorders">PAST ORDERS</a>
					</li>
					<li>
						<a href="/logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="home">
			<div class="header">
				<div>
					
					<h1 style="color: Black;">PETONOID</h1>
					
					<h1>GIVE YOUR PET THE BEST OF EVERYTHING</h1>
					
					

				
					
				</div>
			</div>
			<div style="height:500px;"></div>
			<div class="body">
				<div>
					<p style="font-size:20px;">What you need, find it all here!</p>
					<ul>
						<li>
							<a href="projects.html"><img src= "/static/img1.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src= "/static/img3.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src= "/static/img2.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src= "/static/img4.jpg" alt=""></a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW US ON</h1>
					<div>
						<a href="" class="facebook">facebook</a>
						<a href="" class="twitter">twitter</a>
						<a href="" class="googleplus">googleplus</a>
						<a href="" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; PETONOID</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>